{% extends "_base.html" %}
{% load static %}

{% block title %}
    Day 1 | eSplash
{% endblock %}

{% block banner %}
    <style>
        /* stylelint-disable selector-list-comma-newline-after */

        .blog-header {
          line-height: 1;
          border-bottom: 1px solid #e5e5e5;
        }

        .blog-header-logo {
          font-family: "Playfair Display", Georgia, "Times New Roman", serif;
          font-size: 2.25rem;
        }

        .blog-header-logo:hover {
          text-decoration: none;
        }

        h1, h2, h3, h4, h5, h6 {
          font-family: "Playfair Display", Georgia, "Times New Roman", serif;
        }

        .display-4 {
          font-size: 2.5rem;
        }
        @media (min-width: 768px) {
          .display-4 {
            font-size: 3rem;
          }
        }

        .nav-scroller {
          position: relative;
          z-index: 2;
          height: 2.75rem;
          overflow-y: hidden;
        }

        .nav-scroller .nav {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
          padding-bottom: 1rem;
          margin-top: -1px;
          overflow-x: auto;
          text-align: center;
          white-space: nowrap;
          -webkit-overflow-scrolling: touch;
        }

        .nav-scroller .nav-link {
          padding-top: .75rem;
          padding-bottom: .75rem;
          font-size: .875rem;
        }

        .card-img-right {
          height: 100%;
          border-radius: 0 3px 3px 0;
        }

        .flex-auto {
          -ms-flex: 0 0 auto;
          flex: 0 0 auto;
        }

        .h-250 { height: 250px; }
        @media (min-width: 768px) {
          .h-md-250 { height: 250px; }
        }

        /* Pagination */
        .blog-pagination {
          margin-bottom: 4rem;
        }
        .blog-pagination > .btn {
          border-radius: 2rem;
        }

        /*
         * Blog posts
         */
        .blog-post {
          margin-bottom: 4rem;
        }
        .blog-post-title {
          margin-bottom: .25rem;
          font-size: 2.5rem;
        }
        .blog-post-meta {
          margin-bottom: 1.25rem;
          color: #999;
        }

        /*
         * Footer
         */
        .blog-footer {
          padding: 2.5rem 0;
          color: #999;
          text-align: center;
          background-color: #f9f9f9;
          border-top: .05rem solid #e5e5e5;
        }
        .blog-footer p:last-child {
          margin-bottom: 0;
        }
    </style>
{#    <center><h3><span style="color: royalblue"><i>Let's Begin</i></span></h3></center>#}
    <div class="wrapper">
        <img src="{% static 'img/game_banner.png' %}" width="100%"></div>
{% endblock %}

{% block content %}
<br>
{% if remaining_water <= 0 %}
    {% include 'game/_end.html' %}

{% else %}
<div style="text-align: center;">
    <p class="lead">
        <b><mark>Remaining: {{ remaining_water }} litre</mark></b><br>
        <b>(Day: {{ day.number }} of 7)</b><br><br>
        What do you plan to do today?<br><br>
        <b>{{ task.title }}?</b><br>
        <span href="#" class="badge badge-pill badge-info">{{ task.water_qty }} ltr</span>
<br><br>
        <a href="{% url 'game:day_one_task_three_yes' %}" class="btn btn-primary btn-lg">&nbsp;&nbsp;&nbsp; YES &nbsp;&nbsp;&nbsp;</a> &nbsp;&nbsp;&nbsp; <a href="{% url 'game:day_one_task_four' %}" class="btn btn-primary btn-lg">&nbsp;&nbsp;&nbsp; NO &nbsp;&nbsp;&nbsp;</a>
        <br><br>
    <a href="{% url 'game:day_two_task_one' %}">DONE FOR TODAY</a><br><br>
    <br>
        Pending Tasks Today<br>
        <nav class="blog-pagination">
            {% for task in tasks %}
                <a class="btn {% if task.completed_day_one %}btn-success{% else %}btn-outline-secondary{% endif %} disabled" href="#">{{ task.title }}</a>
            {% endfor %}
        </nav>


    </p>
</div>
    {% endif %}
{% endblock %}