<div style="text-align: center;">
    <p class="lead">
        You have {% if remaining_water <= 0 %}<mark>0 litre</mark>{% endif %} of water remaining.<br><br>
    THIS IS HARD, ISN'T IT?<br><br>
    Help someone living without water-<br>
    <br>
    </p>
</div>

    <div class="card-deck">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Donate $10</div>
            <div class="card-body">
                <h5 class="card-title">Help someone living in water scarcity</h5>
                <p class="card-text">UNICEF's water, sanitation and hygiene (WASH) team works in over 100 countries worldwide to improve water and sanitation services, as well as basic hygiene.</p>
                <a href="https://www.unicef.org/wash/" class="btn btn-primary" target="_blank">Visit UNICEF WASH</a>
            </div>
        </div>
        <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Save Water</div>
            <div class="card-body">
                <h5 class="card-title">For you and your home</h5>
                <p class="card-text">Empower Victorians to live sustainably by taking action on climate change and using our precious resources wisely, to help create a sustainable future for us all.</p>
                <a href="https://www.sustainability.vic.gov.au/You-and-your-home/Live-sustainably/Save-water" class="btn btn-primary" target="_blank">Visit Sustainability VIC</a>
            </div>
        </div>
        <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Simple Tips</div>
            <div class="card-body">
                <h5 class="card-title">Useful tips for sustainable water usage</h5>
                <p class="card-text">
                    <ol>
                        <li>Time your showers</li>
                        <li>Only run a full load</li>
                        <li>Turn the tap off while brush teeth, shaving and washing hands</li>
                    </ol>
                </p>
            </div>
        </div>
    </div>

<br><br><br>